.white{
   color: white; 
}
.center h2 { /* Width */
    color: white;
}
.center .phrase p {
    font-size: 10em;
}
.center .suite p {
    font-size: 3em;
}
.pnl_song{
    display: none;
}
#message-container{
    width: 100%;
    max-height:600px;
    overflow: auto;
}
#fond-index{
    background:linear-gradient( rgba(0, 0, 0, 0.45),  rgba(0, 0, 0, 0.45) ), url('../images/fond1.JPG');
    min-height: 1000px;
}
#fond-autre{
    background:linear-gradient( rgba(0, 0, 0, 0.45),  rgba(0, 0, 0, 0.45) ), url('../images/fond2.jpg');
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.liens{
    margin-left: 10px;
    color:white;
}
#forum .video, #forum .form-message{
    margin-top: 20px;
    margin-bottom: 20px;
}
#menu{
    margin-bottom: 10px;
}